.ContactPage {
  margin-top: 95vh;
  background: var(--primaryLight);
}
.ContactHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  background-color: var(--primaryMedium);
  position: sticky;
  top: 5rem;
}
.ContactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primaryLight);
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 8rem;
}
h3 {
  font-size: 30px;
  letter-spacing: 2.5px;
  color: var(--primaryMedium);
}
.FormFields {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2rem;
}
.Column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
td {
  margin: 1rem;
}
.Row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Message {
  display: flex;
  align-items: center;
  margin: 1rem;
}
.SendBTN {
  margin-top: 2rem;
  height: 3rem;
  width: 5rem;
}
.Confirm {
  font-size: 20px;
  text-align: center;
  padding: 1rem;
}
