<main class="ContactPage">
  <form *ngIf="!sent" class="ContactForm">
    <div class="FormFields">
      <div class="Column">
        <h3>ABOUT YOU:</h3>
        <table class="ContactInfo">
          <tr class="Row">
            <td><label for="name">NAME:</label></td>
            <td>
              <input
                class="MInput"
                type="text"
                id="name"
                name="name"
                placeholder="Name"
                [(ngModel)]="yourName"
              />
            </td>
          </tr>

          <tr class="Row">
            <td><label for="email">EMAIL:</label></td>
            <td>
              <input
                class="MInput"
                type="email"
                id="email"
                name="email"
                placeholder="Email"
                [(ngModel)]="yourEmail"
              />
            </td>
          </tr>
          <tr class="Row">
            <td><label for="number">PHONE:</label></td>
            <td>
              <input
                class="MInput"
                type="text"
                id="number"
                name="number"
                placeholder="Phone nr."
                [(ngModel)]="yourNumber"
              />
            </td>
          </tr>
        </table>
      </div>

      <div class="Column">
        <h3>MESSAGE:</h3>
        <div class="Message">
          <textarea
            class="MTextarea"
            id="message"
            name="message"
            placeholder="Your message.."
            [(ngModel)]="yourMessage"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="Send">
      <input
        class="SendBTN"
        type="submit"
        name="send"
        id="send"
        value="SEND"
        (click)="onSubmit()"
      />
    </div>
  </form>
  <div class="Confirm" *ngIf="sent">
    <p>Thank you for your message. I will answer you as soon as possible!</p>
    <p>Kind regards, Alex</p>
  </div>
</main>
