<section class="AboutHeader">
  <div class="AboutTitle" *ngIf="!editNameFields">
    <h2>{{ creator.firstName }}</h2>
    <h2>{{ creator.lastName }}</h2>
  </div>
  <button
    class="EditBTN Name"
    *ngIf="currentView === Creator && !editNameFields"
    (click)="onEditName()"
  >
    Edit name
  </button>
  <div class="AboutTitle" *ngIf="editNameFields">
    <input class="SInput" type="text" [(ngModel)]="creator.firstName" />
    <input class="SInput" type="text" [(ngModel)]="creator.lastName" />
    <button class="SaveBTN" (click)="onSave()">SAVE</button>
  </div>
</section>
<section *ngIf="!showFormFields">
  <app-about></app-about>
</section>
<header class="ContactHeader">
  <button class="ContactBTN" (click)="showFormFields = !showFormFields">
    CONTACT
  </button>
</header>
<section class="ContactContainer" *ngIf="showFormFields">
  <app-contact></app-contact>
</section>
