.AboutPage {
  width: 100%;
  margin-bottom: 5em;
  margin-top: 5em;
}
.AboutHeader {
  position: sticky;
  width: 100%;
  top: 5rem;
  padding-top: 2rem;
  background-color: var(--primaryLight);
}
.AboutTitle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.About {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.BodyTextContainer {
  background-color: var(--primaryLighter);
  box-shadow: 2px 2px 2px var(--boxShadow);
  border-radius: 4px;
  height: fit-content;
  max-width: 40rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.ImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.CreatorPic {
  max-height: 30rem;
  border-radius: 4px;
}

/*CONTACT*/
.ContactPage {
  background: var(--primaryLight);
  width: 100%;
}
.ContactHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  background-color: var(--primaryMedium);
}
.ContactHeader.BTM {
  position: fixed;
  bottom: 0;
}
.ContactBTN {
  box-shadow: none;
  font-size: 25px;
}
.ContactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primaryLight);
  width: 100%;
  margin-top: 3rem;
  bottom: -100%;
  transition: transform 1s ease;
}
.FormFields {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2rem;
}
.Column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
td {
  margin: 1rem;
}
.Row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Message {
  display: flex;
  align-items: center;
  margin: 1rem;
}
.SendBTN {
  margin-top: 2rem;
  height: 3rem;
  width: 5rem;
}
.Confirm {
  font-size: 20px;
  text-align: center;
  padding: 1rem;
}

/*CREATOR VIEW*/
.EditModeBody {
  height: 10rem;
  width: 40rem;
}
.EditModeImage {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.Hidden {
  position: absolute;
  top: -1000px;
}
.FileInput {
  height: 0.5rem;
  width: 8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
