<main class="AboutPage">
  <section class="About">
    <div *ngIf="!editBodyFields" class="BodyTextContainer">
      <p class="BodyText">{{ creator.bodyOne }}</p>
      <p class="BodyText">{{ creator.bodyTwo }}</p>
      <button
        class="EditBTN Body"
        (click)="onEditBody()"
        *ngIf="currentView === Creator && !editBodyFields"
      >
        Edit text
      </button>
    </div>

    <div class="BodyTextContainer" *ngIf="editBodyFields">
      <textarea
        class="EditModeBody"
        type="text"
        [(ngModel)]="creator.bodyOne"
      ></textarea>
      <textarea
        class="EditModeBody"
        type="text"
        [(ngModel)]="creator.bodyTwo"
      ></textarea>
      <button class="SaveBTN" (click)="onSave()">SAVE</button>
    </div>

    <div class="ImageContainer">
      <img class="CreatorPic" [src]="creator.image" />
      <button
        class="EditBTN Picture"
        (click)="onEditImage()"
        *ngIf="currentView === Creator && !editImage"
      >
        Edit pic
      </button>
      <div class="EditModeImage" *ngIf="editImage">
        <label class="FileInput">
          <input
            class="Hidden"
            type="file"
            id="CreatorPic"
            name="CreatorPic"
            accept="image/*"
            (change)="handleFileInput($event)"
          />
          <span>Choose image</span>
        </label>
        <button class="SaveBTN" (click)="onSave()">SAVE</button>
      </div>
    </div>
  </section>
</main>
