<main class="AboutPage">
  <div class="AboutTitle" *ngIf="!editNameFields">
    <h2>{{ creator.firstName }}</h2>
    <h2>{{ creator.lastName }}</h2>
  </div>
  <button
    class="EditBTN Name"
    *ngIf="currentView === Creator && !editNameFields"
    (click)="onEditName()"
  >
    Edit name
  </button>
  <div class="AboutTitle" *ngIf="editNameFields">
    <input class="SInput" type="text" [(ngModel)]="creator.firstName" />
    <input class="SInput" type="text" [(ngModel)]="creator.lastName" />
    <button class="SaveBTN" (click)="onSave()">SAVE</button>
  </div>

  <section class="About">
    <div *ngIf="!editBodyFields" class="BodyTextContainer">
      <p class="BodyText">{{ creator.bodyOne }}</p>
      <p class="BodyText">{{ creator.bodyTwo }}</p>
      <button
        class="EditBTN Body"
        (click)="onEditBody()"
        *ngIf="currentView === Creator && !editBodyFields"
      >
        Edit text
      </button>
    </div>

    <div class="BodyTextContainer" *ngIf="editBodyFields">
      <textarea
        class="EditModeBody"
        type="text"
        [(ngModel)]="creator.bodyOne"
      ></textarea>
      <textarea
        class="EditModeBody"
        type="text"
        [(ngModel)]="creator.bodyTwo"
      ></textarea>
      <button class="SaveBTN" (click)="onSave()">SAVE</button>
    </div>

    <div class="ImageContainer">
      <img class="CreatorPic" [src]="creator.image" />
      <button
        class="EditBTN Picture"
        (click)="onEditImage()"
        *ngIf="currentView === Creator && !editImage"
      >
        Edit pic
      </button>
      <div class="EditModeImage" *ngIf="editImage">
        <label class="FileInput">
          <input
            class="Hidden"
            type="file"
            id="CreatorPic"
            name="CreatorPic"
            accept="image/*"
            (change)="handleFileInput($event)"
          />
          <span>Choose image</span>
        </label>
        <button class="SaveBTN" (click)="onSave()">SAVE</button>
      </div>
    </div>
  </section>
</main>

<app-contact></app-contact>
