/*NAVIGATION*/
header {
  background-color: var(--primaryMedium);
  padding: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
a {
  text-decoration: none;
  font-size: 1.5em;
  color: var(--discreteFont);
}
a:hover,
.active {
  color: var(--primaryDark);
}
.Logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1em;
}
.Name {
  font-size: 1.5em;
}
.Subject {
  font-size: 0.8em;
}

/*TOGGLE BUTTON*/
.ToggleBTN {
  position: absolute;
  background: none;
  border: none;
  box-shadow: none;
  max-height: fit-content;
  margin-top: -1em;
  margin-left: -1em;
  display: grid;
}
.Eye {
  height: 30px;
  aspect-ratio: 1;
  background: var(--primaryDark);
  border-radius: 25px 0 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(55deg);
  margin-top: -4px;
}
.Iris {
  background: var(--primaryMedium);
  height: 19px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2.5px 2.5px var(--boxShadow) inset;
  transform: rotate(-25deg);
}
.Pupil {
  background: var(--primaryDark);
  height: 9px;
  aspect-ratio: 1;
  border-radius: 100%;
}
.Current {
  color: var(--primaryDark);
  font-size: 10px;
  text-align: left;
  margin-left: -5px;
}
