<header>
  <button class="ToggleBTN">
    <label class="Current">Creator</label>
    <div class="Eye">
      <div class="Iris">
        <div class="Pupil"></div>
      </div>
    </div>
  </button>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/Blog"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          BLOG
        </a>
      </li>

      <li>
        <a
          class="Logo"
          routerLink="/Home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <h1 class="Name">ALEXS</h1>
          <h1 class="Subject">BEAUTY & MAKE-UP</h1>
        </a>
      </li>

      <li>
        <a
          routerLink="/About"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          ABOUT
        </a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
