<main class="HomePage">
  <h2>ALEXS BEAUTY & MAKE-UP</h2>
  <section class="OneSection Top">
    <h2 class="SmallH2">HIGHLIGHTS</h2>
    <div class="PostsCont">
      <section
        class="OnePost"
        *ngFor="let post of getHighlightPosts()"
        (click)="navigateToPost(post.id)"
      >
        <img class="PostPic" [src]="post.thumbnailUrl" />
        <h3 class="PostTitle">{{ post.title }}</h3>
      </section>
    </div>
  </section>
  <section class="OneSection">
    <h2 class="SmallH2">COLLABORATIONS</h2>
    <div class="PostsCont">
      <section
        class="OnePost"
        *ngFor="let post of getCollaborationPosts()"
        (click)="navigateToPost(post.id)"
      >
        <img class="PostPic" [src]="post.thumbnailUrl" />
        <h3 class="PostTitle">{{ post.title }}</h3>
      </section>
    </div>
  </section>
</main>
