:root {
  --primaryLight: #fcfeff;
  --primaryLighter: #ccd9e164;
  --primaryMediumOpace: #ccd9e1a6;
  --primaryMedium: #ccd9e1;
  --primaryDark: #57656d;
  --boxShadow: #57656d7f;
  --discreteFont: white;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Baskerville Old Face";
  font-weight: lighter;
}
h2 {
  font-size: 40px;
  color: var(--primaryMedium);
  letter-spacing: 2.5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1rem;
}
.SmallH2 {
  font-size: 30px;
  color: var(--primaryDark);
}
h3 {
  font-size: 25px;
  letter-spacing: 2.5px;
  color: var(--primaryDark);
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 7em;
}
body {
  background: var(--primaryLight);
  color: var(--primaryDark);
}
button,
.FileInput,
.SendBTN,
.SaveBTN {
  background-color: var(--primaryMedium);
  color: var(--discreteFont);
  font-size: 17px;
  border: none;
  height: fit-content;
  width: fit-content;
  padding: 0.6rem;
  border-radius: 4px;
  box-shadow: 2px 2px 2px var(--boxShadow);
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover,
.FileInput:hover,
.SendBTN:hover,
.SaveBTN:hover {
  color: var(--primaryDark);
  cursor: pointer;
  scale: 110%;
}
input,
textarea {
  background: var(--primaryMediumOpace);
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
  font-size: 15px;
  box-shadow: 1px 1px 1px var(--boxShadow);
}
input:hover,
textarea:hover {
  cursor: pointer;
}
input:focus,
textarea:focus {
  outline: none;
  box-shadow: 1px 1px 1px 1px var(--boxShadow);
  border: 0.5px solid var(--boxShadow);
}
.XSInput {
  width: 7rem;
  font-size: 16px;
}
.SInput {
  width: 10rem;
  font-size: 16px;
}
.MInput {
  width: 12rem;
  font-size: 16px;
}
.MTextarea {
  height: 10rem;
  width: 20rem;
}
.LTextarea {
  height: 20rem;
  width: 20rem;
}
