<main class="Deleted" *ngIf="deleted">This Post have been deleted</main>
<main class="BlogPost" *ngIf="!deleted">
  <button
    class="DeleteBTN"
    *ngIf="currentView === Creator"
    (click)="onDeletePost()"
  >
    DELETE POST
  </button>
  <div class="TitleContainer">
    <h2 class="PostTitle" *ngIf="!editTitleField">{{ post.title }}</h2>
    <button
      class="EditBTN"
      *ngIf="currentView === Creator && !editTitleField"
      (click)="onEditTitle()"
    >
      EDIT
    </button>
    <div class="EditMode" *ngIf="editTitleField">
      <input class="SInput" type="text" [(ngModel)]="post.title" />
      <button class="SaveBTN" (click)="onSave()">SAVE</button>
    </div>
  </div>

  <section class="PostContent">
    <img class="PostPic" [src]="post.thumbnailUrl" alt="Post Image" />
    <div class="BodyTags">
      <p class="PostBody" *ngIf="!editBodyField">{{ post.body }}</p>
      <button
        *ngIf="currentView === Creator && !editBodyField"
        (click)="onEditBody()"
        class="EditBTN"
      >
        EDIT
      </button>
      <div class="EditMode" *ngIf="editBodyField">
        <textarea
          class="LTextarea"
          type="text"
          [(ngModel)]="post.body"
        ></textarea>
        <button class="SaveBTN" (click)="onSave()">SAVE</button>
      </div>

      <div class="Tags">
        <p class="Tag" *ngFor="let tag of post.tags; let last = last">
          #{{ tag }}
        </p>
      </div>
    </div>
  </section>
  <div class="Reactions">
    <div class="ReactContainer">
      <button class="DislikeBTN" (click)="increaseDislikes()"></button>
      <span class="NoOf DisLikes">{{ post.dislikes }}</span>
    </div>
    <div class="ReactContainer">
      <button class="LikeBTN" (click)="increaseLikes()"></button>
      <span class="NoOf Likes">{{ post.likes }}</span>
    </div>

    <button
      class="CommentBTN"
      (click)="showCommentForm = !showCommentForm"
    ></button>
  </div>

  <form class="NewComment" (ngSubmit)="addComment()" *ngIf="showCommentForm">
    <input
      class="SInput"
      type="text"
      id="comment"
      name="comment"
      placeholder="Comment.."
      [(ngModel)]="newComment.text"
    />
    <input
      class="XSInput"
      type="text"
      id="name"
      name="name"
      placeholder="Name.."
      [(ngModel)]="newComment.name"
    />
    <input
      class="SaveBTN"
      type="submit"
      name="addComment"
      id="addComment"
      value="Submit"
    />
  </form>
  <div class="CommentSection">
    <div class="OneComment" *ngFor="let PostComment of post.comments">
      <button
        class="DeleteBTN"
        *ngIf="currentView === Creator"
        (click)="onDeleteComment(PostComment)"
      >
        X
      </button>
      <p class="CommentText">{{ PostComment.text }}</p>
      <p class="CommentName">/ {{ PostComment.name }}</p>
    </div>
  </div>
</main>
