<main class="BlogPost">
  <h2 class="PostTitle">{{ post.title }}</h2>
  <section class="PostContent">
    <img class="PostPic" [src]="post.thumbnailUrl" alt="Post Image" />
    <div class="BodyTags">
      <p class="PostBody">{{ post.body }}</p>
      <div class="Tags">
        <p class="Tag" *ngFor="let tag of post.tags; let last = last">
          #{{ tag }}
        </p>
      </div>
    </div>
  </section>
  <div class="Reactions">
    <div class="ReactContainer">
      <button class="DislikeBTN" (click)="increaseDislikes()"></button>
      <span class="NoOf DisLikes">{{ post.dislikes }}</span>
    </div>
    <div class="ReactContainer">
      <button class="LikeBTN" (click)="increaseLikes()"></button>
      <span class="NoOf Likes">{{ post.likes }}</span>
    </div>

    <button
      class="CommentBTN"
      (click)="showCommentForm = !showCommentForm"
    ></button>
  </div>

  <form class="NewComment" (ngSubmit)="addComment()" *ngIf="showCommentForm">
    <input
      class="SInput"
      type="text"
      id="comment"
      name="comment"
      placeholder="Comment.."
      [(ngModel)]="newComment.text"
    />
    <input
      class="XSInput"
      type="text"
      id="name"
      name="name"
      placeholder="Name.."
      [(ngModel)]="newComment.name"
    />
    <input
      class="SaveBTN"
      type="submit"
      name="addComment"
      id="addComment"
      value="+"
    />
  </form>
  <div class="CommentSection">
    <div class="OneComment" *ngFor="let PostComment of post.comments">
      <p class="CommentText">{{ PostComment.text }}</p>
      <p class="CommentName">/ {{ PostComment.name }}</p>
    </div>
  </div>
</main>
